:root{
    --bs-bgColor: #22272e;
    --bs-ColorOne: #a97155;
    --bs-ColorTwo: #32594a;
    --bs-ColorThree: #0c1c24;
    --bs-ColorFour: #1c2c24;
    --bs-font1:'Shadows Into Light', cursive;
    --bs-font2:'Inter', sans-serif;
    --bs-boxshadow1:0px 0px 34px 10px rgba(255, 255, 255, 0.13);

    
    --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: #198754;
  --bs-form-valid-border-color: #198754;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #dc3545;
}

@media only screen and (max-width:990px){

  #nav{
    position: sticky !important;
    width: 100%;
    height: 80px;
   }

   .contact{
    flex-direction: column !important;
   }
   #form-cont{
    padding: 0 !important;
   }

   .form{
    margin: 0 auto;
    width: 60% !important;
   }

   .map{
    width: 60% !important;
    margin: 20px auto;
   }

   .adr-right{
    padding: 0 !important;
   }

   .card a{
    padding: 6px 14px !important;
    width: 80px !important;
    font-size: 14px !important;
  }

  .card a:hover{
    background-color: var(--bs-ColorOne)!important;
    color: black !important;
  }
   
}


@media only screen and (max-width:1112px) {

  
  #section2{
    align-items: center !important;
    margin: 0 auto !important;
    padding: 0 !important;
  }

   .left{
    width: 100% !important;
    margin: 40px auto;
  }
  
  .h2-3{
    font-size: 38px !important;
  }
  
  .right{
    width: 100% !important;
    height: 300px !important;
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }


}

@media only screen and (max-width: 560px) {

  .footer{
    flex-direction: column !important;
    padding-top: 100px !important;
    flex-wrap: nowrap !important;
  }

  .left-foot,
      .center-foot,
      .right-foot{
         padding-bottom: 20px !important;
      }
}

@media only screen and (max-width:660px) {
  
  #banner{
    background-image: url(pic/pic3.jpg) !important;
    object-fit: cover;
    object-position: center;
    height: 450px !important;
    align-items: center;
}


.titlee{
  width: 250px !important;
  margin-bottom: 40px !important;
  margin-left: 0px !important;
  background-color: rgba(128, 128, 128, 0.50) !important;

 }
.titlee h1{
  font-size: 24px !important;
}
.titlee p{
  font-size: 14px !important;
}
.titlee button{
  font-size: 13px !important;
}

#text1 #h2{
  max-width: 100% !important;
  font-size: 14px !important;
  padding: 40px 20px !important;
}

#text1{
  width: 100% !important;
  align-items: center !important;
  padding: 0 !important;
}

#best-product{
  margin-top: 10px !important;
  padding: 0 !important;
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
  margin: 10px  auto!important;
}

#h2-1{
  max-width: 100% !important;
  font-size: 14px !important;
  padding: 40px 20px !important;
}

#text2{
  width: 100% !important;
  align-items: center !important;
  padding: 0 !important;
}

#best-product2{
  margin-top: 10px !important;
  padding: 0 !important;
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
  margin: 10px  auto!important;
}
#best-product2 .card:nth-child(1),
#best-product2 .card:nth-child(2),
#best-product2 .card:nth-child(3),
#best-product2 .card:nth-child(4){
  max-width: 320px !important;
}

#text3{
  width: 100% !important;
  align-items: center !important;
  padding: 0 !important;
}

#h2-2{
  max-width: 100% !important;
  font-size: 14px !important;
  padding: 40px 20px !important;
}

.vertical-1{
  display: none !important;
}



#menuu2{
  margin: 0 auto !important;
  align-items: center !important;
  padding: 0 !important;
}


.h2-1{
  font-size: 24px !important;
}

.pp{
font-size: 14px !important;
}

.h2-2{
font-size: 20px !important;

}

.h44{
font-size: 12px;

}

.pp2{
font-size: 10px !important;
}

.form{
  margin: 0 auto;
  width: 100% !important;
 }

 .map{
  width: 100% !important;
  margin: 40px auto;
  padding: 0 10px !important;
 }

 .address{
  margin-top: 20px;
 }

 .adr-right{
  flex-wrap: wrap !important;
  flex-direction: column !important;
  padding: 0 !important;
  align-items: flex-end !important;
 }

 .adr-right a{
  text-decoration: none;
  color: inherit;
 }


 .card a{
  padding: 3px 10px !important;
  width: 80px !important;
  font-size: 10px !important;
}

.card a:hover{
  background-color: var(--bs-ColorOne)!important;
  color: black !important;
}

.card .imgg{
  filter: none !important;
}


}



body{
    background-color: var(--bs-bgColor) !important;
}


.container-fluid h1{
    color: black;
    text-align: center;
    font-family: sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card-text{
    font-family: var(--bs-font2);
    font-size: 16px;
}

.card{
    padding: 0 !important;
    border-radius:0 !important;
    border: none !important;
    box-shadow: var(--bs-boxshadow1) !important;
}

.navv{
  position: fixed !important;
  right: 0 !important;
  bottom: 0 !important;
  top: 0 !important;
   background-color: black !important;
 }

.imgg{
    height:300px;
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);
    transition: filter ease-in-out 300ms;
}

.card:hover .imgg{
    filter: none;
}

#h2{
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding-top: 100px;
    font-family: var(--bs-font2);
    line-height: 52px;
    max-width: 800px;
}

#h2-1{
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding-top: 100px;
    font-family: var(--bs-font2);
    line-height: 42px;
    max-width: 800px;
    font-size: 20px;
}

#h2-2{
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding-top: 100px;
    font-family: var(--bs-font2);
    line-height: 42px;
    max-width: 800px;
    font-size: 20px;
}

#banner{
    background-image: url(pic/espresso-banner.jpg);
    background-size:cover;
    display: flex;
    background-repeat: no-repeat;
    height: 450px;
    justify-content: end;
    flex-direction: column;

}

.titlee{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 80px;
    margin-left: 80px;
    padding: 20px;
    border-radius: 5px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.281);
}
.titlee h1{
    font-family: var(--bs-font1);
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: var(--bs-ColorThree);
}
.titlee p{
    font-family: var(--bs-font2);
    font-size: 18px;
    text-align: center;
}
.titlee button{
    border: none;
    outline:none;
    padding: 6px;
    font-family: var(--bs-font2);
    font-size: 16px;
    background-color: var(--bs-ColorOne);
    border-radius: 5px;
    color: white;

}

.titlee button a{
  text-decoration: none;
  color:white;
}


.material-symbols-outlined {
    color: red;
    
  font-variation-settings:
  'FILL' 100,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48
  
}

.h2-1{
      color: white;
      text-align: center;
      font-family: var(--bs-font2);
      font-size: 36px;
      width: fit-content;
      border-bottom: 1px solid white;
}

.pp{
    color: white;
    text-align: center;
    font-family: var(--bs-font2);
    max-width: 500px;
    font-size: 18px;
}

.h2-2{
    color: white;
    text-align: center;
    font-family: var(--bs-font2);
    font-size: 24px;
    width: 160px;
    border: 1px solid rgba(255, 255, 255, 0.514);
    padding: 8px;
    margin-bottom: 30px;
}

.h44{
    color: white;
    font-size: 16px;
    font-family: var(--bs-font2);
    margin-top: 20px;
    text-align: center;
    
}

.pp2{
    font-family: var(--bs-font2);
    color: var(--bs-ColorOne);
    text-align: center;
}

.card a{
  text-decoration: none;
  padding: 6px 26px;
  background-color: var(--bs-ColorOne);
  color: black;
  width: 120px;
  font-family: var(--bs-font2);
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  transition: all ease 300ms;
}

.card a:hover{
  background-color: var(--bs-ColorTwo);
  color: white;
}

.card .button1{
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.vertical-1{
    display: flex;
    flex-direction: column;
    background-image: url(pic/vertical-1.webp);
    background-size: cover;
    width: 50%;
    height: 1000px;
}

#menuu{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.coffee{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    
}
#section{
  width: 100%;
}

.left{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    
}

.h2-3{

    color: var(--bs-ColorThree);
    text-align: center;
    font-family: var(--bs-font2);
    font-size: 50px;
}

.right{
    display: flex;
    background-image: url(pic/vertical-2.jpg);
    background-size: cover;
    width: 50%;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 40%;
    
}
form{
    display: flex;
    flex-direction: column;
    
    padding: 20px 40px;
    border-radius: 5px;
    background-color: var(--bs-border-color);
}
fieldset{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  background-color: white;
  padding-bottom: 80px;
}



/* reset */
form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
  font-size: 100%;
  color: inherit;
  border: none;
  outline: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--bs-font2);
  font-weight: 600;
  
}
form label,
form legend {
  font-size: 16px;
  margin-bottom: 0.5rem;
  
}
/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
  font-family: var(--bs-font2) ;
  font-size: 14px;
  border-radius: 3px;

}
form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
  background-color: white;
  border: none;
  outline: none;
}
form [type="text"],
form [type="email"],
.StripeElement {
  width: 100%;
}
form [type="button"],
form [type="submit"],
form [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background-color: var(--bs-ColorTwo);
}
form [type="button"]:focus,
form [type="submit"]:focus,
form [type="reset"]:focus {
  outline: none;
}

form select {
  text-transform: none;
}


#my-form-status{
    width: 90%;
    max-width: 200px;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    margin: 0 auto;
    font-weight: 600;
    border-radius: 4px;
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;
      }

      #my-form-status.success {
        background-color: rgb(193, 255, 101);
        animation: status 4s ease forwards;
      }
      #my-form-status.error {
        background-color: rgb(250, 129, 92);
        color: white;
        animation: status 4s ease forwards;
      }
      @keyframes status {
        0% {
          opacity: 1;
          pointer-events: all;
        }
        90% {
          opacity: 1;
          pointer-events: all;
        }
        100% {
          opacity: 0;
          pointer-events: none;
        }
      }


      .map{
        display: flex;
        flex-wrap: wrap;
        width: 40%;
        flex-direction: column;
      }

      .address{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
      }

      .adr-left{
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        font-size: 14px;
      }

      .adr-right{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        width: 40%;
      }
      .adr-right i:hover{
        cursor: pointer;
      }

      .footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        height: 100px;
      }
      .footer p{
        color: var(--bs-border-color);
        font-family: var(--bs-font2);
        font-size: 12px;
      }

      .left-foot,
      .center-foot,
      .right-foot{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }

      .center-foot a{
        text-decoration: none;
        color: inherit;
      }
      .center-foot a:hover{
        cursor: pointer;
      }

      .adr-right a{
        text-decoration: none;
        color: inherit;
        height: 40px;
       }